<table class="table table-condensed table-calendar">
	<tr>
		<th></th>
		{% for day in days %}
		<th class="day-label">{{ day | date ('D j/n') }}</th>	
		{% endfor %}
	</tr>
	{% for i in 8..20 %}
	{% for j in 0..3 %}
	<tr>
		<th class="hour-label hour-h-{{ i }} hour-j-{{ j }}">{% if loop.first %}{{ i < 10 ? '0' }}{{ i }}:{{ j == 0 ? '00' : j * 15 }}{% endif %}</th>
		{% for day in days %}
		{% set date = date(day ~ i ~ ':' ~ (j * 15)) %}
		<td class="zone zone-h-{{ i }} zone-j-{{ j }} zone-d-{{ loop.index }} {% if date() > date %}past{% endif %}">
			{% if events[date | date ('Y-m-d H:i:s')] is defined %}
			{% for event in events[date | date ('Y-m-d H:i:s')] %}
				<a class="event" href="{{ path('event_edit', {'hash': calendar.hash, 'hash2': event.hash}) }}">
					{{ event.title }}
				</a>
			{% endfor %}
			{% else %}
			<div class="new-event" data-hour="{{ i }}" data-uniqid="{{ i }}-{{ j }}" data-minutes="{{ j * 15 }}" data-date="{{ day | date ('Y-m-d') }}">
				<i class="fa fa-plus"></i>
			</div>
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
	{% endfor %}
</table>