{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@MedicDashboardBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
<header>
	<div class="power-off">
		<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i></a>
	</div>
	<div class="profile">
		<div class="avatar">
			<img src="http://placehold.it/40x40" alt="{{ app.user.username }}" class="img-rounded" width="40">
		</div>
		<div class="infos">
			<div class="username">
				Hi {{ app.user.username }}
			</div>
			<div class="to-profile">
				<a href="{{ path('settings') }}"><i class="fa fa-cog"></i> settings</a>
			</div>
		</div>
	</div>
</header>
<div class="page-header">
	<h1>Summary</h1>
	<h2>Events to come</h2>
</div>
{% for event in events %}
<div class="event">
	{{ event.start | date('d/m/Y') }} {{ event.start | date('H:i') }} {{ event.end | date('d/m/Y') }} {{ event.end | date('H:i') }} {{ event.title }}
</div>
{% endfor %}
<div class="hidden-xs">
	<a class="btn btn-default btn-block" href="{{ path('week') }}">Planning</a>
</div>
<div class="visible-xs">
	<a class="btn btn-default btn-block" href="{{ path('day') }}">Planning</a>
</div>
{% endblock %}