{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@MedicDashboardBundle/Resources/public/css/main.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
<header>
	<div class="power-off pull-right">
		<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i></a>
	</div>
	<div class="profile">
		<div class="avatar">
			<img src="http://placehold.it/40x40" alt="{{ app.user.username }}" class="img-rounded" width="40">
		</div>
		<div class="infos">
			<div class="username">
				Hi {{ app.user.username }}
			</div>
			<div class="to-profile">
				<a href="#"><i class="fa fa-cog"></i> settings</a>
			</div>
		</div>
	</div>
</header>
{% endblock %}