{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@MedicDashboardBundle/Resources/public/css/main.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% if app.request.query.get('start') %}
{% set from = (app.request.query.get('start') ~ ' ' ~ (app.request.query.get('starth') < 10 ? '0') ~ app.request.query.get('starth') ~ ':' ~ (app.request.query.get('startm') < 10 ? '0') ~ app.request.query.get('startm') ~ ':00') %}
{% else %}
{% set from = 'now' | date('Y-m-d H:00:00') | date_modify('+1 hour') %}
{% endif %}
{% set to = from | date_modify('+15 minutes') %}

{% block body %}
<header>
	<div class="power-off pull-right">
		<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i></a>
	</div>
</header>
<div class="page-header">
	<h1>New event</h1>
</div>
<div>
	<form class="form-horizontal" role="form" action="{{ path('event_new', {'hash': hash}) }}" method="POST">
		<div class="form-group">
			<div class="col-sm-12">
				<a href="{{ path('home') }}" class="btn btn-default"><i class="fa fa-long-arrow-left"></i></a>
				<button type="submit" class="btn btn-danger">SAVE</button>
			</div>
		</div>
		<div class="form-group">
			<label for="titleInput" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="titleInput" name="title" value="Untitled">
			</div>
		</div>
		<div class="form-group">
			<label for="startInput" class="col-sm-2 control-label">Start</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="startInput" name="start" value="{{ app.request.query.get('start') }}">
			</div>
			<div class="col-sm-1">
				<select type="text" class="form-control" id="startHoursInput" name="starth">
					{% for i in 0..23 %}
					<option value="{{ i }}" {% if from | date('G') == i %}selected{% endif %}>{{ i < 10 ? '0' }}{{ i }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-1">
				<select type="text" class="form-control" id="startMinutesInput" name="startm">
					{% for i in 0..3 %}
					<option value="{{ i * 15 }}" {% if from | date('i') | number_format == i * 15 %}selected{% endif %}>{{ i * 15 < 10 ? '0' }}{{ i * 15 }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="endInput" class="col-sm-2 control-label">End</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="endInput" name="end" value="{{ app.request.query.get('start') }}">
			</div>
			<div class="col-sm-1">
				
				
				<select type="text" class="form-control" id="endHoursInput" name="endh">
					{% for i in 0..23 %}
					<option value="{{ i }}" {% if to | date('G') == i %}selected{% endif %}>{{ i < 10 ? '0' }}{{ i }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-1">
				<select type="text" class="form-control" id="endMinutesInput" name="endm">
					{% for i in 0..3 %}
					<option value="{{ i * 15 }}" {% if to | date('i') | number_format == i * 15 %}selected{% endif %}>{{ i * 15 < 10 ? '0' }}{{ i * 15 }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="nameInput" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nameInput" name="name">
			</div>
		</div>
		<div class="form-group">
			<label for="phoneInput" class="col-sm-2 control-label">Phone</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="phoneInput" name="phone">
			</div>
		</div>
		<div class="form-group">
			<label for="emailInput" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="emailInput" name="email">
			</div>
		</div>
		<div class="form-group">
			<label for="descriptionInput" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="descriptionInput" name="description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="privacyInput" class="col-sm-2 control-label">Privacy</label>
			<div class="col-sm-10">
				<select class="form-control" id="privacyInput" name="privacy">
					<option value="private">Private</option>
					<option value="public">Public</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="showMeInput" class="col-sm-2 control-label">Show me as</label>
			<div class="col-sm-10">
				<select class="form-control" id="showMeInput" name="showme">
					<option value="busy">Busy</option>
					<option value="free">Free</option>
				</select>
			</div>
		</div>
	</form>
</div>
{% endblock %}