{% extends 'MedicDashboardBundle::layout.html.twig' %}
{% block body %}
{{ parent() }}
<div class="page-header">
	<h1>Settings</h1>
	<h2>Choose your slots</h2>
</div>
<form action="{{ path('settings_slots') }}" method="POST" accept-charset="utf-8">
	<div class="form-group">
		<div class="col-sm-12">
			<a href="{{ path('settings') }}" class="btn btn-default"><i class="fa fa-long-arrow-left"></i></a>
			<button type="submit" class="btn btn-danger">SAVE</button>
		</div>
	</div>
	<div>
		<div class="row">
		
			{% for day in days %}
			<div class="col-lg-2">
				<div>
					{{ monday | date('D') }}
				</div>
				{% for hour in day %}
				<div data-toggle="buttons" class="pre-button">
					<label class="btn btn-default btn-block {% if (monday | date('N') ~ '-' ~ hour | split(':')[0] | number_format ~ '-' ~ hour | split(':')[1] | number_format) in slots %}active{% endif %}">
						<input type="checkbox" autocomplete="off" name="h-{{ monday | date('N') }}-{{ hour }}" {% if (monday | date('N') ~ '-' ~ hour | split(':')[0] | number_format ~ '-' ~ hour | split(':')[1] | number_format) in slots %}checked{% endif %}> {{ hour }}
					</label>
				</div>
				{% endfor %}
			</div>
			{% set monday = monday | date_modify('+1 day') %}
			{% endfor %}
		
		</div>
	</div>
</form>
{% endblock %}